# gitignore settings
# Source of truth on this configuration is located here:
# https://github.com/ansiblejunky/ansible-project-template/blob/master/.gitignore

# Ansible
# facts generated locally based on ansible.cfg settings
facts.json
# retry files
*.retry
# logs
ansible.log
# add local roles but ignore everything else
content/roles/*
!content/roles/mylocalrole
!content/roles/requirements.yml
content/collections/ansible_collections

# Python
# compiled files
*.pyc
# pyenv configuration
.python-version
.vscode
.DS_Store